&nbsp;
&nbsp;
<div>
  <h1>Compras</h1>
  <div class="card">
    <div class="card-header">
      Lista de Compras
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-secondary">Agregar nuevas compras</button>
      <br/><br/>
      <div class="table-responsive">
        <table class="table table-bordered align-middle table-striped">
          <tbody>
            <tr>
              <th>#</th>
              <th>Id usuario</th>
              <th>Id producto</th>
              <th>Catidad</th>
              <th>Precio total</th>
              <th>Fecha</th>
              <th>Acciones</th>
            </tr>
            <tr>
              <td>1</td>
              <td>2 Carlos</td>
              <td>1 Lomo</td>
              <td>4</td>
              <td>60.000</td>
              <td>13-11-2021</td>
              <td>
                <button type="button" class="btn btn-success">Editar</button> | 
                <button type="button" class="btn btn-danger">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>